{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="slider">
    <div class="hero-slider">

        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('{% static 'img/slider4.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <div class="button">
                                <a href="{% url 'pedidos:registrar_pedido' %}" class="btn animated-button" style="color: aliceblue;">Hacer Pedido</a>
                                <a href="#" class="btn primary">Ver Plan Suscripción</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->


        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('{% static 'img/slider2.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <div class="button">
                                <a href="{% url 'pedidos:registrar_pedido' %}" class="btn animated-button" style="color: aliceblue;">Hacer Pedido</a>
                                <a href="#" class="btn primary">Ver Plan Suscripción</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('{% static 'img/slider.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            <p></p>
                            <div class="button">
                                <a href="{% url 'pedidos:registrar_pedido' %}" class="btn animated-button" style="color: aliceblue;">Hacer Pedido</a>
                                <a href="#" class="btn primary">Ver Plan Suscripción</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
        
        <!-- Start Single Slider -->
        <div class="single-slider" style="background-image:url('{% static 'img/slider3.jpg' %}')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="text">
                            
                            
                            <div class="button">
                                <a href="{% url 'pedidos:registrar_pedido' %}" class="btn animated-button" style="color: aliceblue;">Hacer Pedido</a>
                                <a href="#" class="btn primary">Ver Plan Suscripción</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slider -->
    </div>
</section>

<!--/ End Slider Area -->




<!-- Pricing Table -->
<section class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Te ofrecemos los mejores batidos verdes a precios razonables</h2>
                    <img src="{% static 'img/section-img.png' %}" alt="#">
                    <div class="button">
                        <a href="{% url 'pedidos:registrar_pedido' %}" class="btn" style="background-color:#33b262; color: aliceblue;" >Hacer Pedido</a>
                        <a href="#" class="btn primary" style="background-color:#343547; color: aliceblue; ">Ver Plan Suscripción</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Table -->
            <div class="col-lg-4 col-md-12 col-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="icon">
                            <i class="icofont icofont-lemon"></i>
                        </div>
                        <h4 class="title">Batido Verde Energizante</h4>
                        <div class="price">
                            <p class="amount">$40.000<span>/1 Paquete semanal</span></p>
                        </div>	
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li><i class="icofont icofont-ui-check"></i>Batido de pepino, apio, manzana verde y piña</li>
                        <li><i class="icofont icofont-ui-check"></i>Rico en vitaminas y minerales</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>Sin ingredientes artificiales</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>No contiene azúcares añadidos</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>Solo disponible por encargo</li>
                    </ul>
                    <div class="table-bottom">
                        <a class="btn" href="#">Ordenar Ahora</a>
                    </div>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->
            <!-- Single Table -->
            <div class="col-lg-4 col-md-12 col-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="icon">
                            <i class="icofont icofont-leaf"></i>
                        </div>
                        <h4 class="title">Paquete Mixto</h4>
                        <div class="price">
                            <p class="amount">$49.000<span>/ 1 Paquete Semanal</span></p>
                        </div>	
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li><i class="icofont icofont-ui-check"></i>Ingredientes naturales: pepino, apio y perejil</li>
                        <li><i class="icofont icofont-ui-check"></i>Desintoxica tu cuerpo</li>
                        <li><i class="icofont icofont-ui-check"></i>Fortalece el sistema inmunológico</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>Sin endulzantes artificiales</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>Disponible solo en porciones grandes</li>
                    </ul>
                    <div class="table-bottom">
                        <a class="btn" href="#">Ordenar Ahora</a>
                    </div>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->
            <!-- Single Table -->
            <div class="col-lg-4 col-md-12 col-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="icon">
                            <i class="icofont icofont-heart-beat"></i>
                        </div>
                        <h4 class="title">Elige tu Combinación</h4>
                        <div class="price">
                            <p class="amount">$58.000<span>/ 1 Paquete Semanal</span></p>
                        </div>	
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li><i class="icofont icofont-ui-check"></i>Mezcla de pepino, manzana verde y piña</li>
                        <li><i class="icofont icofont-ui-check"></i>Aporta frescura y vitalidad</li>
                        <li><i class="icofont icofont-ui-check"></i>Ayuda a la digestión y reduce el estrés</li>
                        <li><i class="icofont icofont-ui-check"></i>Completamente natural</li>
                        <li><i class="icofont icofont-ui-check"></i>Ideal para los días calurosos</li>
                    </ul>
                    <div class="table-bottom">
                        <a class="btn" href="#">Ordenar Ahora</a>
                    </div>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->
        </div>	
    </div>	
</section>

<!--/ End Pricing Table -->



<!-- Start Blog Area -->
<section class="blog section" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Mantente al día con nuestras últimas noticias sobre batidos verdes.</h2>
                    <img src="{% static 'img/section-img.png' %}" alt="#">
                    <p>En Vitalmix, estamos comprometidos con ofrecerte los mejores batidos verdes para tu salud. Descubre las últimas novedades y consejos sobre alimentación saludable.</p>
                    <div class="button">
                        <a href="{% url 'pedidos:registrar_pedido' %}" class="btn" style="background-color:#33b262; color: aliceblue;" >Hacer Pedido</a>
                        <a href="#" class="btn primary" style="background-color:#343547; color: aliceblue; ">Ver Plan Suscripción</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Blog -->
                <div class="single-news">
                    <div class="news-head">
                        <img src="{% static 'img/blog1.jpg' %}" alt="#">
                    </div>
                    <div class="news-body">
                        <div class="date">22 Ago, 2024</div>
                        <h2><a href="#">Anunciamos nuestro nuevo batido verde detox.</a></h2>
                        <p class="text">Conoce nuestra nueva receta de batido verde detox, hecha con ingredientes frescos y saludables para purificar tu cuerpo.</p>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Blog -->
                <div class="single-news">
                    <div class="news-head">
                        <img src="{% static 'img/blog2.jpg' %}" alt="#">
                    </div>
                    <div class="news-body">
                        <div class="date">15 Jul, 2024</div>
                        <h2><a href="#">Cinco beneficios de los batidos verdes para tu salud.</a></h2>
                        <p class="text">Los batidos verdes son una excelente forma de incorporar más vegetales en tu dieta. Descubre los principales beneficios que ofrecen para tu bienestar.</p>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <!-- Single Blog -->
                <div class="single-news">
                    <div class="news-head">
                        <img src="{% static 'img/blog3.jpg' %}" alt="#">
                    </div>
                    <div class="news-body">
                        <div class="date">05 Ene, 2024</div>
                        <h2><a href="#">Ofrecemos soluciones empresariales saludables.</a></h2>
                        <p class="text">En Vitalmix, estamos trabajando para llevar nuestras opciones de batidos verdes a más personas, mejorando la salud y bienestar de todos.</p>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
        </div>
    </div>
</section>

<!-- End Blog Area -->

<!-- Start Appointment -->
<section class="appointment" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Estamos Siempre Listos para Ayudarte. Reserva una Cita</h2>
                    <img src="{% static 'img/section-img.png' %}" alt="#">
                    <p>En VitalMix, nos especializamos en ofrecer batidos verdes frescos y saludables. Reserva una cita para descubrir cómo podemos ayudarte a mejorar tu bienestar con nuestros deliciosos batidos.</p>
                    <div class="button">
                        <a href="{% url 'pedidos:registrar_pedido' %}" class="btn" style="background-color:#33b262; color: aliceblue;" >Hacer Pedido</a>
                        <a href="#" class="btn primary" style="background-color:#343547; color: aliceblue; ">Ver Plan Suscripción</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <form class="form" action="#">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input name="name" type="text" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input name="email" type="email" placeholder="Correo Electrónico">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input name="phone" type="text" placeholder="Teléfono">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <div class="nice-select form-control wide" tabindex="0"><span class="current">Departamento</span>
                                    <ul class="list">
                                        <li data-value="1" class="option selected">Departamento</li>
                                        <li data-value="2" class="option">Batidos Verdes</li>
                                        <li data-value="3" class="option">Suplementos Nutricionales</li>
                                        <li data-value="4" class="option">Asesoría Nutricional</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <div class="nice-select form-control wide" tabindex="0"><span class="current">Vendedor</span>
                                    <ul class="list">
                                        <li data-value="1" class="option selected">Vendedor</li>
                                        <li data-value="2" class="option">Carlos Gómez</li>
                                        <li data-value="3" class="option">Ana Martínez</li>
                                        <li data-value="4" class="option">Luis Pérez</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input type="text" placeholder="Fecha" id="datepicker">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group">
                                <textarea name="message" placeholder="Escribe tu mensaje aquí....."></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-4 col-12">
                            <div class="form-group">
                                <div class="button">
                                    <button type="submit" class="btn">Reserva una Cita</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-8 col-12">
                            <p>(Te confirmaremos por mensaje de texto)</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="appointment-image">
                    <img src="{% static 'img/contact-img.png' %}" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Start Newsletter Area -->
<section class="newsletter section" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <!-- Start Newsletter Text -->
                <div class="subscribe-text">
                    <h6>Suscríbete a nuestro boletín</h6>
                    <p>Recibe las últimas novedades sobre nuestros batidos verdes, promociones especiales y consejos de bienestar. ¡Únete a la familia VitalMix!</p>
                </div>
                <!-- End Newsletter Text -->
            </div>
            <div class="col-lg-6 col-12">
                <!-- Start Newsletter Form -->
                <div class="subscribe-form">
                    <form action="#" method="post" class="newsletter-inner">
                        <input name="EMAIL" placeholder="Tu dirección de correo electrónico" class="common-input" onfocus="this.placeholder = ''"
                            onblur="this.placeholder = 'Tu dirección de correo electrónico'" required="" type="email">
                        <button class="btn">Suscribirse</button>
                    </form>
                </div>
                <!-- End Newsletter Form -->
            </div>
        </div>
    </div>
</section>
<div class="firework"></div>
<div class="firework"></div>
<div class="firework"></div>

<div class="barra-inferior">
    <div class="contenedor-deslizable">
      <div id="slider" class="area-deslizable">
        <div id="fireworks-container"></div>
        <span class="texto-deslizable">Hacer pedido</span>
        <a id="redirect-link" href="{% url 'pedidos:registrar_pedido' %}"></a>
        <div class="manejador-deslizable"></div>
      </div>
    </div>
  </div>
  

  

{% endblock %}
